.container-trophies {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
}

.individual-trophie {
    margin-left: 15px;
    padding-bottom: 20px;
}

.trophies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}