.container-rewards {
    margin: 0 100px 0 100px;
    padding: 20px 100px 20px 100px;
    background-color: rgba(0, 0, 0, 0.75);
    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.title {
    font-size: 28px;
    border-bottom: 1px solid aqua;
    padding: 5px;
    margin-bottom: 20px;
}

.last-time-added {
    font-size: 18px;
    margin-bottom: 25px;
}