.overlay {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:auto;
}

.overlay-inner {
    background: linear-gradient(to bottom right, rgba(187, 255, 255, 0.8), rgba(187, 255, 255, 1));
    width: 65vw;
    height: 80vh;
    position: fixed;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.overlay-inner .modal-buttons {
    z-index: 999;
    display: block;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #00BFFF;
    width: 65vw;
    padding: 1.5rem;
    height: 60px;
}

.overlay-inner .close-btn {
    position: unset;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    justify-content: flex-end;
}

.overlay-inner .save-btn {
    position: unset;
    top: 1rem;
    left: 1rem;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.overlay-inner .inner-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    padding-bottom: 0;
}

.overlay-inner .inner-box img {
    margin-right: 20px;
    width: 150px;
    height: 210px;
    margin-bottom: 20px;
}

.inner-box h1 {
    color: #121212;
}

.overlay-inner .inner-box .book-author-name {
    margin-top: 10px;
    color: #121212;
}

.inner-box h4 {
    color: #121212;
}

.overlay-inner .inner-box button {
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #E066FF;
    color: snow;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    margin-top: 10px;
    cursor: pointer;
}

.overlay-inner .book-description {
    padding-right: 8px;
    padding-left: 1.5rem;
    text-align: justify;
    font-size: 18px;
    color: #121212;
    overflow-y: scroll;
    height: 33vh;
}

@media (max-width: 600px) {
    .overlay-inner {
        overflow-y: scroll;
    }
    .overlay-inner .inner-box {
        flex-direction: column;
    }
    .overlay-inner .modal-buttons {
        padding: 0;
        padding-left: 10px;
        padding-top: 15px;
        padding-right: 10px;
        height: 50px;
    }
    .overlay-inner .inner-box .book-title {
        font-size: 20px;
    }
    .overlay-inner .inner-box .book-author-name {
        font-size: 16px;
    }
    .overlay-inner .book-description {
        overflow-y: none;
        height: 100%;
        padding-right: 1.5rem;
        padding-top: 10px;
        font-size: 15px;
    }
}