.container-search {
    margin: 0 100px 0 100px;
    padding: 20px 100px 20px 100px;
    background-color: rgba(0, 0, 0, 0.75);
    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.book-input {
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.book-input input {
    width: 250px;
    height: 30px;
    font-size: 17px;
}

.book-input input, .book-input button {
    background: none;
    border: none;
    padding: 5px;
    
}

.book-input button {
    text-align: end;
    padding-right: 10px;
    cursor: pointer;
}

.books-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1000px) {
    .container-books {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}