header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 0 2rem;
    width: 100%;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s ease;
    background-color: #00BFFF;
    color: #fff;
}

.logo a {
    color: #212121;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1.5px;
    font-size: 35px;
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    list-style: none;
    display: inline-block;
}

.navbar a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.5s ease;
}

.navbar a:hover{
    color: #A020F0;
}

header .nav-btn{
    padding: 5px;
    display: none;
    opacity: 0;
}

.nav-btn button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}

@media (max-width: 1000px) {
    header .nav-btn {
        display: block;
        opacity: 1;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        gap: 1.5rem;
        background-color: #00BFFF;
        transition: 1s;
        transform: translateY(-100vh);
    }

    .navbar a{
        margin-left: 0px;
    }

    header .responsive_nav {
        transform: none;
    }
}