*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
  background-image: url("imgs/bookshelfBG.jpg");
}

.container{
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(0, 0, 0, 0.66);
  color: #fff;
  border-radius: 20px;
}