*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
  background-image: url("imgs/bookshelfBG.jpg");
  width: 100%;
  min-height: 100vh;
}

.container{
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(0, 0, 0, 0.66);
  color: #fff;
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .container{
    margin: 10px;
  }
}