.individual-book {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
    cursor: pointer;
}

.hover-book:hover{
    transform: scale(1.15);
}

.book-poster {
    width: 120px;
    height: 180px;
    padding-bottom: 10px;
}

.book-title {
    font-size: 18px;
}

.book-author{
    font-style: italic;
}