.container-books {
    max-width: 75vw;
    margin-top: 10px;
}

.container-books .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.container-content ::-webkit-scrollbar {
    display: none;
    width: 20px;
}

.books{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: flex-end;
}

.book-list-title {
    font-size: 1.35rem;
}

.see-all-btn {
    margin-left: 5px;
    color: #BFEFFF;
    cursor: pointer;
    font-size: 1.08rem;
}

.see-all-btn:hover {
    color: #9AC0CD;
}

.container-books .carousel .item {
    margin: 10px;
    padding: 10px;
    width: 150px;
    flex: none;
}

.container-content {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.item {
    cursor: pointer;
}